header {
	background-color: rgb(100, 100, 100);
	padding: 30px;
	text-align: center;
	font-size: 35px;
	color: white;
}

#user-log {
	padding: 15px;
	float: left;
	margin: auto;
}

td > a {
	user-select: none;
	color: rgb(255, 255, 255);
	text-decoration: none;
	font-size: x-large;
}

td > a[href = ''] {
	pointer-events: none;
	cursor: default;
}

#logout {
	width: 90px;
}
